*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#meet-logo{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
.section1{
    padding-top: 30px;
    display: flex;
    gap:3%;
    padding-bottom: 140px;
}
.text{
    padding-top: 30px;
    text-align: center;
    width:37%;
}
.subtext{
    padding-bottom: 60px;
    color: hsla(239, 10%, 57%, 1);
}
.toptext{   
    font-size:57px;
    font-weight: 800;
    line-height:1.1;
    padding-bottom: 40px;
}
.image{
    width:28%;
    height: 90%;
}
.spanbut{
    font-weight: bold;
    color: hsla(192, 90%, 77%, 1);
}
.button{
    color: white;
    background-color: hsla(192, 37%, 48%, 1);
    text-decoration: none;
    padding: 20px 40px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
}
.button:hover{
    background-color: hsla(192, 54%, 64%, 1);
}
.sbut{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:darkblue;
    text-decoration: none;
    padding: 20px  30px;
    border-radius: 30px;
    background-color: hsla(267, 34%, 53%, 1);
}
.sbut:hover{
    background-color: hsla(267, 54%, 71%, 1);
}
.sub-num{
    font-size:15px;
    border: 1px solid lightgrey;
    width: max-content;
    padding: 15px;  
    position: relative;
    margin: 0 auto;
    color:gray;
    border-radius: 50%;
}
.sub-num:before{
border: 1px solid lightgrey;
height: 77px;
position: absolute;
content: '';
left: 50%;
bottom: 100%;
}
#section2{
    padding-top: 50px;
}
    picture{
        display: flex;
        justify-content: center;
        gap:25px;
        padding-top: 50px;
    }
    .picsec2{
        width: 19%;
        border-radius: 5px;
    }
#section4{
    width: 42%;
    font-size:px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding : 70px 0 ;
}
.subtext2{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.0;
    padding-bottom: 30px;
    color: hsla(239, 21%, 20%, 1);
}
.built{
    color: hsla(192, 37%, 48%, 1);
    letter-spacing: 3px;
    padding-bottom: 20px;
    font-weight: 900;
}
.p-section4{
    padding-bottom: 130px;
    color: hsla(239, 10%, 57%, 1);
    line-height: 1.625;
}
#footer{
        display: flex;
        justify-content: center;
        gap:50px;
}
.box-1{
font-size: 18px;
width: 27%;
}
.box-1-text{
font-weight: 900;
line-height: 1.1;
letter-spacing: -1px;
}
.box-2{
    width: 29%;
    font-size: 19px;
}
.box-3{
    width: 20%;
    padding-top: 20px;
}
.butfooter{
    text-decoration: none;
    color: white;
    background-color: hsla(268, 34%, 53%, 1);
    padding: 20px 40px;
    border-radius: 30px;
}
.butfooter:hover{
    background-color: hsla(192, 54%, 64%, 1);
}
.sbutfooter{
    color: hsla(268, 100%, 86%, 1);
}
.sub-num2{
    font-size:15px;
    border: 1px solid lightgrey;
    width: max-content;
    font-weight: bold;
    padding: 15px;  
    position: relative; 
    bottom: 76px;
    background-color: white;
    margin: 0 auto;
    color:gray;
    border-radius: 50%;
}
.sub-num2:before{
border: 1px solid lightgrey;
height: 77px;
position: absolute;
content: '';
left: 50%;
bottom: 100%;
}
#section5{
    padding:50px 0 100px 0 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(0deg,hsl(192, 37%, 48%,0.9),hsl(192, 37%, 48%,0.9)), 
    url(project5images/image-footer.jpg);
    color: white;
}


/*MEDIA QUERIES*/

@media screen and (max-width:768px){
    .toptext{   
    font-size:39px;
    padding-bottom: 30px;
}
    .image{
    width:29%;
    height: 90%;
}
    .text{
    padding-top: 20px;
    width:35%;
}
    .button{
    padding: 20px 20px;
    margin-right: 10px;
    border-radius: 30px;
        font-size:15px;
}
    .sbut{
    padding: 20px  20px;
    font-size:15px;
    border-radius: 30px;
}
.section1{
        padding-bottom: 130px;
}
picture{
    gap:20px;
}
.picsec2{
    width: 18%;
    border-radius: 5px;
}
    .subtext2{
    font-size: 40px;
    font-weight: 800;
}
    #section4{
    width: 55%;
}
.box-1{
font-size: 14px;
width: 20%;
}
    .box-1-text{
font-weight: 800;
line-height: 1.1;
letter-spacing: -1px;
}
    .box-2{
        width:30%;
    font-size: 19px;
}
    .box-3{
    width: 22%;
    padding-top: 20px;
}
    .butfooter{
    padding: 20px 30px;
    border-radius: 30px;
}
    #section5{
    padding:50px 0 90px 0 ;
    background-position :center;
    }
}



@media screen and (max-width:425px){
    .section1{
        padding-top:0px;
        display: flex;
        justify-content :center;
        width :100%;
        flex-direction:column;
        padding-bottom: 100px;
    }
        #meet-logo{
        padding-top: 60px;
        padding-bottom: 30px;
    }
        .text{
        padding-top: 30px;
        text-align: center;
        width:100%;
    }
        .toptext{   
        font-size:35px;
        font-weight: 800;
        padding-bottom: 20px;
    }
        .image{
        width:75%;
        height: 170px;
            margin: 0 auto;
    }
        .subtext{
        padding-bottom: 30px;
            width:75%;
            font-size:14px;
             margin: 0 auto;
    }
        .button{
        color: white;
        background-color: hsla(192, 37%, 48%, 1);
        text-decoration: none;
        padding: 15px 15px;
            font-size :13px;
        margin-right: 5px;
        border-radius: 25px;
    }
        .sbut{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:darkblue;
        text-decoration: none;
        padding: 15px  15px;
            font-size :13px;
        border-radius: 25px;
    }
    .butlink{
        padding-bottom : 30px;
    }
    .sub-num{
        font-size:13px;
    }
        .sub-num:before{
    height: 70px;
    }
        picture{
            display : grid;
            grid-template-columns : 40% 40% ;
    }
        .picsec2{
     width :100%;
    }
    #section4{
        width: 80%;
        padding : 70px 0 ;
    }
        .built{
        letter-spacing: 3px;
        padding-bottom: 10px;
        font-weight: 900;
            font-size : 13px;
    }
        .subtext2{
        font-size: 30px;
        padding-bottom: 30px;
    }
        .p-section4{
        padding-bottom: 100px;
        line-height: 1.615;
            font-size:15px;
            width :100% ;
    }
               .sub-num2{
    font-size:10px;  
    position: relative; 
    bottom: 47px;
 
}
            .sub-num2:before{
        height: 70px;
        }
        #section5{
         padding:20px 0 80px 0 ; 
        }
        #footer{
            display: flex;
            justify-content: center;
            flex-direction : column;
            align-items:center;
            gap:20px;
    }
        .box-1{
    font-size: 15px;
    width:80%;
            text-align :center;
    }
        .box-2{
        width: 75%;
        font-size: 16px;
            text-align : center;
    }
        .box-3{
        width: 70%;
        padding-top: 20px;
        text-align : center;
    }
      #section5{
        background-position :center;
    
}

    }